#Welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--Header) - 24px);
    background-image: url("Images/background-og.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#title {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    text-shadow: 2px 3px 5px rgba(0, 1, 41, 0.959);
}
#title h1, h2 {
    margin: -10px;
}
#title img {
    min-width: 150px;
    max-width: 200px;
    width: 20vw;
}